/*-- Variable --*/
:root {
    --gn-height: 80px;
    --gf-height: 160px;
    --default-color: #222222;
    --main-color: #f5910f;
}

/*-- Reset --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
    color: var(--default-color)
}

/*-- Layout --*/
.visuallyhidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    clip: rect(0, 0, 0, 0)
}

/* Global Navigation */
nav#global-navigation {
    /*--gn-open-easing: ease-in-out;*/
    /*--gn-height: 100px;*/

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    /*height: 100px;*/
    height: var(--gn-height);
    background-color: #ffffff;
    /*box-shadow: 0 0 4px #000;*/
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

nav#global-navigation .gn-content {
    display: flex;
    /*display: -webkit-box;*/
    position: relative;
    min-width: 360px; /* 280 */
    max-width: 980px; /* 900 */
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
    /*justify-content: center;*/
    align-items: center;
}

nav#global-navigation a#bi {
    /*order: 2;*/
}

nav#global-navigation ul.gn-menu {
    display: flex;
    margin-left: auto;
    /*order: 1;*/
}

/*nav#global-navigation ul.gn-menu li.gn-menu-item {*/
/*    !*display: inline-block;*!*/
/*    padding-right: 8px;*/
/*    padding-left: 8px;*/
/*}*/

nav#global-navigation ul.gn-menu li.gn-menu-item + li.gn-menu-item {
    margin-left: 16px
}

/*nav#global-navigation ul.gn-menu li.gn-menu-item ~ li.gn-menu-item {*/
/*    margin-left: 16px*/
/*}*/

nav#global-navigation li.gn-menu-item a.gn-menu-link {
    display: block;
    padding: 4px 6px;
    transition: color 300ms ease-in-out
}

nav#global-navigation li.gn-menu-item a.gn-menu-link:hover {
    color: var(--main-color);
    transition: color 300ms ease-in-out
}

nav#global-navigation li.gn-menu-item a.gn-menu-link > span {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 20px;
}

nav#global-navigation li.gn-menu-item a.gn-menu-link > span::before {
/*nav#global-navigation li.gn-menu-item a.gn-menu-link > span::after {*/
    content: '';
    /*display: inline-block;*/
    /*vertical-align: top;*/
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    /*width: 100%;*/
    width: 0;
    border-top: 2px solid var(--default-color);
    transform: translateX(-50%);
    /* 애니메이션이 out */
    /*transition: all 300ms ease-in-out;*/
    transition: all 300ms ease-out;
}

nav#global-navigation li.gn-menu-item a.gn-menu-link:hover > span::before {
    width: 100%;
    border-top-color: var(--main-color);
    /* 애니메이션이 in */
    /*transition: all 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
    transition:
            width 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950),
            border-color 300ms ease-in-out;
}


/*nav#global-navigation li.gn-menu-item a.gn-menu-link > span::before{*/
/*    content: '(';*/
/*    padding-right: 2px;*/
/*}*/

/*nav#global-navigation li.gn-menu-item a.gn-menu-link > span::after{*/
/*    content: ')';*/
/*    padding-left: 2px;*/
/*}*/

/* Main */
main#main {
    padding-top: var(--gn-height);
}

main#main {
    /*display: flex;*/
    width: 100%;
    /*height: 800px;*/
    width: 100vw; /* view width */
    /*height: 100vh; !* view height *!*/
    /*height: calc(100vh - var(--gn-height)); !* view height - --gn-height(80) *!*/

    /*height: calc(100vh - var(--gn-height) - var(--gf-height)); !* view height - --gn-height(80) - --gf-height(160) *!*/

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box 스타일의 여백 포함 여부 */
    /*box-sizing: border-box;*/
}

main#main section.section{
    width: 100%;
    height: calc(100vh - var(--gn-height))
}


main#main section.section:first-child{
    background-color: #ff8200;
}

main#main section.section:nth-child(2){
    background-color: #b4f0c8;
}

main#main section.section:last-child {
    height: calc(100vh - var(--gn-height) - var(--gf-height));
    background-color: #d2b4ff;
}

/*main#main section.section:nth-child(1) {*/
/*    height: calc(100vh - var(--gn-height))*/
/*}*/


main#main section.section .section-content{
    display: flex;
    width: 1024px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
}

section.section .section-content h2.headline {
    font-size: 40px;
    font-weight: 600; /* bold */
    line-height: 60px;
}

main#main section.section:nth-child(1) .section-content{
    /*flex-direction: row-reverse;*/
    flex-direction: column;
    /*flex-direction: column-reverse;*/
    justify-content: center;
    align-items: center;
}

/*section.section:nth-child(1) .list ul {*/
/*    display: flex;*/
/*    !*width: 1024px;*!*/
/*    width: 100%;*/
/*    height: 700px;*/
/*    flex-wrap: wrap;*/
/*    !*justify-content: flex-start;*!*/
/*    !*justify-content: space-between;*!*/
/*    !*justify-content: space-around;*!*/
/*    !*justify-content: space-evenly;*!*/
/*    !*align-items: center;*!*/
/*    align-items: flex-end;*/
/*}*/

/*section.section:nth-child(1) .list li.item {*/
/*    display: flex;*/
/*    width: 180px;*/
/*    height: 180px;*/
/*    background-color: #222222;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*flex-grow: 1;*!*/
/*}*/

/*section.section:nth-child(1) .list li.item span {*/
/*    font-size: 20px;*/
/*    font-weight: 600;*/
/*    line-height: 28px;*/
/*}*/

/*section.section:nth-child(1) .list li.item:nth-child(3n) {*/
/*    !*flex-grow: 2;*!*/
/*    !*flex-shrink: 2;*!*/
/*}*/

/*section.section:nth-child(1) .list li.item + li.item {*/
/*    margin-left: 20px*/
/*}*/


section.section:nth-child(1) h2.headline + .list {
    margin-top: 40px;
}

/*section.section:nth-child(1) .list{*/
/*    margin-top: 40px;*/
/*}*/

section.section:nth-child(1) .list ul {
    display: flex;
    /*width: 100%;*/
    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
}

section.section:nth-child(1) .list li.item {
    padding: 10px;
}

section.section:nth-child(1) .list li.item:last-child{
    order: -1;
}

section.section:nth-child(1) .list li.item:last-child p {
    overflow: hidden;
    background-color: #ffffff;
    color: #222222;
    animation: circle 1500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-animation: circle-webkit 1500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-animation: circle 1500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

@keyframes circle {
    0% {
        border-radius: 0;
        background-color: #ffffff;
        color: #222222;
        transform: translateY(0);
    }
    50% {
        border-radius: 90px;
        background-color: #222222;
        color: #ffffff;
        transform: translateY(100%)
    }
    100% {
        border-radius: 0;
        background-color: #ffffff;
        color: #222222;
        transform: translateY(0);
    }
}

@-webkit-keyframes circle-webkit {
    0% {
        border-radius: 20px;
        background-color: #ffffff;
        color: #222222;
        -webkit-transform: scale(1.0) translateY(0);
    }
    40% {
        -webkit-transform: scale(0.8) translateY(-100%)
    }
    50% {
        border-radius: 90px;
        background-color: #222222;
        color: #ffffff;
    }
    80% {
        -webkit-transform: scale(0.8) translateY(100%)
    }
    100% {
        border-radius: 20px;
        background-color: #ffffff;
        color: #222222;
        -webkit-transform: scale(1.0) translateY(0)
    }
}

@-moz-keyframes circle {
    0% {
        border-radius: 0;
        background-color: #ffffff;
        color: #222222;
        -moz-transform: translateY(0);
    }
    50% {
        border-radius: 90px;
        background-color: #222222;
        color: #ffffff;
        -moz-transform: translateY(100%);
    }
    100% {
        border-radius: 0;
        background-color: #ffffff;
        color: #222222;
        -moz-transform: translateY(0);
    }
}


section.section:nth-child(1) .list li.item p {
    display: flex;
    width: 180px;
    height: 180px;
    background-color: #222222;
    justify-content: center;
    align-items: center;
}


section.section:nth-child(1) .list li.item p span {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}


/* Global Footer */
footer#global-footer{
    width: 100%;
    height: var(--gf-height)
}

#viewport{
    display: flex;
    position:fixed;
    z-index: 3000;
    bottom: 10px;
    right: 10px;
    width: auto;
    min-width: 40px;
    height: 28px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #222222;
    border-radius: 4px;
    color: #ffffff;
}

#viewport span{
    font-size: 20px;
    line-height: 28px;
}

#viewport span::before{
    content: '-';
    display: block;
    position:relative;
}


/* 769px ~ */
/*@media screen and (min-width: 769px) {*/
/*    #viewport span::before{*/
/*        content: 'min width: 769px'*/
/*    }*/
/*}*/

@media screen and (min-width: 1600px) {
    #viewport span::before{
        content: 'width: 1600px ~'
    }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
    #viewport span::before{
        content: 'width: 1024px ~ 1599px'
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    #viewport span::before{
        content: 'width: 769px ~ 1023px'
    }
}

/* 769px ~ */
@media screen and (min-width: 769px) {
    nav#global-navigation ul.gn-menu {
        /*margin-left: initial;*/
    }
}

/* ~ 768px */
@media screen and (max-width: 768px) {
    :root {
        --gn-height: 54px;
    }

    /*#viewport span::before{*/
    /*    content: 'width: 0 ~ 768px'*/
    /*}*/

    nav#global-navigation{
        background-color: #222222;
    }

    nav#global-navigation a{
        color: #ffffff;
    }

    nav#global-navigation a#bi {
        margin-left: auto;
    }

    nav#global-navigation ul.gn-menu{
        font-size: 12px;
        order: -1;
        margin-left: initial;
    }

    nav#global-navigation ul.gn-menu li.gn-menu-item + li.gn-menu-item {
        margin-left: 8px
    }

    nav#global-navigation li.gn-menu-item a.gn-menu-link {
        padding: 2px 3px;
    }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
    #viewport span::before{
        content: 'width: 568px ~ 768px'
    }
}

/* ~ 567px */
@media screen and (max-width: 567px) {
    #viewport span::before{
        content: 'width: 0 ~ 568px'
    }
}
